<ui-view></ui-view>
<div>

    <header class="header-main row">
        <div class="header-main__logo">
            <img ng-src="assets/images/logo-transparent.png">
        </div>
        <div class="navigation">
            <nav class="navigation__nav">
                <ul class="navigation__list">
                    <li class="navigation__item"><a class="btn-link outline-text--white" ui-sref="quiz">Start Quiz</a></li>
                    <li class="navigation__item"><a class="btn-link outline-text--white" ui-sref="facts.authorization">Auth</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="section-facts">

        <!--<carousel-turtles turtles-facts="$ctrl.turtlesFacts"></carousel-turtles>-->

        <div class="facts-search row">
            <a ui-sref="quiz" class="facts-search__button btn-link--blue">
                <span class="gradient-text--red">Start Quiz</span>
            </a>
            <div class="facts-search__search-box">
                <input type="text" placeholder="Search..." ng-model="$ctrl.search" ng-model-options="{ debounce: 500 }">
                <span>&times;</span>
            </div>
        </div>

        <div class="facts-turtles row">
            <article class="facts-card col-md-4" ng-repeat="turtle in $ctrl.turtlesFacts | filter:$ctrl.search track by turtle.id">
                <div class="facts-card__image col-12">
                    <img ng-src="{{turtle.image_url}}">
                </div>
                <div class="facts-card__text-block col-12">
                    <h4 class="facts-card__text-heading outline-text--white gradient-text--blue">{{turtle.type}}</h4>
                    <p class="facts-card__text-item"><span>Locations: </span>{{turtle.locations}}</p>
                    <p class="facts-card__text-item"><span>Size: </span>{{turtle.size}}</p>
                    <p class="facts-card__text-item"><span>Avarage Lifespan: </span>{{turtle.lifespan}}</p>
                    <p class="facts-card__text-item"><span>Diet: </span>{{turtle.diet}}</p>
                    <button class="btn--blue facts-card__button"
                            ng-click="$ctrl.turtleInfo(turtle)"><span class="gradient-text--blue">Learn more &rarr;</span>
                    </button>
                </div>
            </article>
        </div>
    </section>
</div>