<article class="question-bar-card">
    <div class="question-bar-card__question col-12 ">
        <p>{{$ctrl.activeQuestion + 1 + ". " + $ctrl.quizQuestions[$ctrl.activeQuestion].text}}</p>
    </div>
    <div class="row col-12">
        <div class="col-md-6 question-bar-card__answer"
             ng-click="$ctrl.selectAnswer(answer.id)"
             ng-repeat="answer in $ctrl.quizQuestions[$ctrl.activeQuestion].possibilities track by answer.id">
            <span ng-if="$ctrl.quizQuestions[$ctrl.activeQuestion].type === 'text'"
                  class="question-bar-card__answer--text"
                  ng-class="$ctrl.getAnswerClass(answer.id)">
                {{answer.answer}}
            </span>
            <div ng-if="$ctrl.quizQuestions[$ctrl.activeQuestion].type === 'image'"
                 class="question-bar-card__answer--image"
                 ng-class="$ctrl.getAnswerClass(answer.id)">
                <img ng-src="{{answer.answer}}">
            </div>
        </div>
    </div>
    <div class="col-12">
        <button class="btn question-bar-card__button" ng-click="$ctrl.proceed()">{{::$ctrl.buttonOptions}}</button>
    </div>
</article>