<section ng-switch="$ctrl.loading">
    <article class="question-bar-card row" ng-switch-default>
        <header class="col-12">
            <h3 class="question-bar-card__question">{{$ctrl.activeQuestion + 1 + ". " + $ctrl.quizQuestions[$ctrl.activeQuestion].text}}</h3>
        </header>
        <section class="row col-12 mb-zero" ng-class="::$ctrl.questionBarOptions.checkHover">
            <article class="col-sm-12 question-bar-card__answer"
                     ng-click="$ctrl.selectAnswer(answer.id)"
                     ng-repeat="answer in $ctrl.quizQuestions[$ctrl.activeQuestion].possibilities track by answer.id">
            <h4 ng-if="$ctrl.quizQuestions[$ctrl.activeQuestion].type === 'text'"
                  class="question-bar-card__answer--text"
                  ng-class="$ctrl.getAnswerClass(answer.id)">
                {{answer.answer}}
            </h4>
                <div ng-if="$ctrl.quizQuestions[$ctrl.activeQuestion].type === 'image'"
                     class="question-bar-card__answer--image"
                     ng-class="$ctrl.getAnswerClass(answer.id)">
                    <img ng-src="{{answer.answer}}">
                </div>
            </article>
        </section>
        <footer class="col-12 mb-zero">
            <button class="btn question-bar-card__button" ng-click="$ctrl.proceed()">{{::$ctrl.questionBarOptions.btn}}</button>
        </footer>
    </article>
    <custom-loading ng-switch-when="true"></custom-loading>
</section>
