body{
  font-family: "Josefin Slab", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.outline-text{
  &--white{
    -webkit-text-stroke: 1px var(--color-white);
    //text-shadow: -1px -1px 0 var(--color-white),
    //1px -1px 0 var(--color-white),
    //-1px 1px 0 var(--color-white),
    //1px 1px 0 var(--color-white);
  }
}

.gradient-text{
  &--blue, &--red, &--orange{
    -webkit-background-clip: text;
    color: transparent;
  }

  &--blue{
    background-image: linear-gradient(to left, var(--color-blue-light-1), var(--color-blue-dark-1));
  }

  &--red{
    background-image: linear-gradient(to left, var(--color-red-light-1), var(--color-red-dark-1));
  }

  &--orange{
    background-image: linear-gradient(to left, var(--color-orange-light-1), var(--color-orange-dark-1));
  }
}

