{
  "extends": ["eslint:recommended", "google"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "require-jsdoc": 0,
    "linebreak-style": "off",
    "comma-dangle": "off",
    "arrow-parens": "off",
    "max-len": ["warn", 100],
    "eol-last": 0,
    "one-var": "off",
    "quotes": 0
  }
}