<article custom-carousel
     carousel-interval="3000"
     carousel-items-num="{{::$ctrl.turtlesFacts.length}}"
     ng-swipe-left="nextSlide()"
     ng-swipe-right="prevSlide()"
     class="facts-carousel">
    <ul class="facts-carousel__list">
        <li class="facts-carousel__item" ng-repeat="slide in ::$ctrl.turtlesFacts track by slide.id">
            <img ng-src="{{::slide.image_url}}" class="facts-carousel__image">
        </li>
    </ul>
    <div class="facts-carousel__button-prev"
         ng-click="prevSlide()"> &#8678; </div>
    <div class="facts-carousel__button-next"
         ng-click="nextSlide()"> &#8680; </div>
</article>