.auth{
  position: relative;
  width: 50vw;
  max-width: 45rem;
  min-height: 60vh;
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  flex-flow: row wrap;
  padding: 1rem;

  @include respond(md){
    width: 60vw;
  }

  @include respond(sm){
    width: 75vw;
    padding: 1rem 0 0 0;
  }

  @include respond(xs){
    width: 100vw;
    min-height: 100vh;
  }

  &::before{
    @include absoluteCover;
    content: '';
    z-index: 1;
    display: block;
    opacity: .7;
    background-image: radial-gradient(farthest-corner at 0 50%, var(--color-blue-light-1) 70%, var(--color-blue-dark-1) 70%);
  }

  & > *{
    position: relative;
    z-index: 10;
  }

  &__menu-item--sign-in-out, &__menu-item--sign-up{
    position: absolute;
    top: 10000px;
    left: 10000px;
  }

  &__menu-item--sign-up:checked ~ &__form &__form-side--sign-in-out{
    transform: rotateY(-180deg);
  }

  &__menu-item--sign-up:checked ~ &__form &__form-side--sign-up{
    transform: rotateY(0);
    opacity: 1;
    visibility: visible;
  }

  &__menu-item--sign-in-out:checked + label{
    animation: jumpScale 4s infinite;
  }

  &__menu-item--sign-up:checked + label{
    animation: jumpScale 4s infinite;
  }

  &__menu-label{
    font-size: 2rem;
    color: var(--color-white);
    padding: .8rem 1rem .5rem 1rem;
    display: inline-block;
    cursor: pointer;

    @include respond(xl){
      font-size: 2.4rem;
    }

    @include respond(sm){
      padding: .4rem .8rem .2rem .8rem;
      font-size: 1.6rem;
    }
  }

  &__form{
    border-top: 3px solid var(--color-orange-light-1);
    margin-top: 1rem;
    min-height: 60vh;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    width: 100%;
    overflow-y: scroll;

    @include respond(sm){
      margin-top: .5rem;
    }

    @include respond(sm){
      min-height: 80vh;
    }
  }

  &__form-group{
    padding: 2rem 0 1rem 0;
    position: relative;

    input{
      font-size: 1.75rem;
      width: 100%;
      padding: .8rem 1.2rem;
      border-bottom: 3px solid transparent;
      border-radius: 3px;
      background:rgba(255,255,255,.3);

      @include respond(xl){
        font-size: 2rem;
        padding: 1rem 1.5rem;
      }

      @include respond(sm){
        padding: .6rem .4rem;
      }
    }

    input.ng-valid{
      border-bottom: 3px solid var(--color-green-dark-1);
    }

    input.ng-invalid{
      border-bottom: 3px solid var(--color-red-dark-1);
    }

    input.ng-valid ~ footer.auth__form-input-helper{
      position: absolute;
    }

    input:placeholder-shown + label{
      opacity: 0;
      visibility: hidden;
      transform: translateY(3.5rem);
      font-size: .1rem;

      @include respond(xl){
        transform: translateY(4.5rem);
      }
    }

    label{
      position: absolute;
      top: -.3rem;
      left: 1rem;
      transition: all 1s;
      color: var(--color-white);
      font-size: 1.5rem;

      @include respond(xl){
        top: -.7rem;
        left: 1.4rem;
        font-size: 1.75rem;
      }

      @include respond(sm){
        left: .4rem;
      }
    }
  }

  &__form-side{
    &--sign-in-out, &--sign-up{
      @include absoluteCover;
      min-height: 38rem;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-content: center;
      backface-visibility: hidden;
      transition: all 2s;
    }

    &--sign-up{
      opacity: 0;
      visibility: hidden;
      transform:rotateY(180deg);
    }
  }

  &__form-input-helper{
    margin-top: 1rem;
    color: var(--color-red-dark-1);
    font-size: 1.3rem;

    @include respond(xl){
      font-size: 1.5rem;
    }

    @include respond(sm){
      margin-left: .4rem;
    }
  }

  &__form-button{
    border-radius: .5rem;
    transition: all .5s;
    color: var(--color-white);
    margin-top: 1rem;
    text-transform: uppercase;
    font-size: 2rem;
    background-color: var(--color-green-dark-1);
  }

  &__form-button-icon{
    height: 1.8rem;
    width: 1.5rem;
    margin-left: 1rem;
    fill: var(--color-white);
  }

  &__form-button[value="Sign Out"]{
    margin: 0 auto 80% auto;
    display: flex;
    align-items: center;
  }

  &__form-button[disabled="disabled"]{
    background-color: var(--color-red-dark-1);
  }
}