.btn{
  display: inline-block;
  padding: .8rem 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all .5s;

  &:hover{
    box-shadow: var(--shadow-btn-outer);
  }

  &:active{
    position: relative;
    top: .25rem;
    box-shadow: var(--shadow-btn-inner);
  }

  &--blue{
    @extend .btn;

    &:hover{
      background-image: linear-gradient(to left, var(--color-blue-light-1), var(--color-blue-dark-1));

      span{
        color: var(--color-white);
      }
    }
  }
}

.btn-link{
  @extend .btn;

  &:hover{
    box-shadow: none;
  }

  &:active{
    position: static;
    box-shadow: none;
  }

  &--blue{
    @extend .btn-link;

    &:hover{
      background-image: linear-gradient(to left, var(--color-blue-light-1), var(--color-blue-dark-1));

      span{
        color: var(--color-white);
      }
    }
  }
}

.btn-accordion{
  outline: none;
  border: none;
  display: inline-block;
  position: relative;
  border-radius: .25rem;
  padding: .5rem 1rem;
  perspective: 10rem;
  transition: box-shadow .4s, border-radius .4s, top .5s;
  text-align: center;
  cursor: pointer;

  &::before {
    @include absoluteCover;
    content: '';
    display: block;
    z-index: 1000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: .25em;
    padding: .5rem;
    transform-origin: 50% 100%;
    transform-style: preserve-3d;
    transition: transform .5s, box-shadow .4s;
    background-color: var(--color-black);
    color: var(--color-white);
  }

  &:hover {
    z-index: 1001;
    border-radius: .25rem .25rem 0 0;
    box-shadow: var( --shadow-btn-accordion-inner);
  }

  &:hover::before {
    border-radius: .25rem .25rem 0 0;
    transform: rotateX(-120deg);
    color: transparent;
  }

  &:active{
    top: .25rem;
  }
}

.btn-home{
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 2rem;
  right: 2rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid var(--color-grey-light-2);
  transition: background-color .5s;

  @include respond(xl){
    height: 5rem;
    width: 5rem;
  }

  @include respond(sm){
    top: 1rem;
    right: 1rem;
    height: 3.5rem;
    width: 3.5rem;
  }

  @include respond(xs){
    height: 3rem;
    width: 3rem;
  }

  &:hover{
    background-color: var(--color-black);
  }

  &:hover &__icon{
    fill: var(--color-white);
  }

  &__icon{
    height: 3rem;
    width: 3rem;
    fill: var(--color-black);
    transition: fill .5s;

    @include respond(xl){
      height: 3.5rem;
      width: 3.5rem;
    }

    @include respond(xs){
      height: 2.5rem;
      width: 2.5rem;
    }
  }
}