.facts-modal{
  padding: 1rem;
  width: 50vw;
  max-height: 80vh;
  overflow-y: auto;

  @include respond(xl){
    padding: 1rem 2rem;
  }

  @include respond(md){
    width: 80vw;
  }

  @include respond(xs){
    width: 100vw;
    max-height: 100vh;
  }

  &__header{
    margin-bottom: .5rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 400;

    @include respond(xl){
      font-size: 2.4rem;
    }
  }

  &__body{}

  &__image{
    text-align: center;

    img{
      height: 22rem;
      width: 100%;
      max-width: 29rem;

      @include respond(xl){
        height: 30rem;
        max-width: 40rem;
      }

      @include respond(xs){
        height: 18rem;
      }
    }
  }

  &__info{
    margin-top: -1rem;

    p{
      color: var(--color-green-dark-1);
      font-size: 1.5rem;

      @include respond(xl){
        font-size: 1.8rem;
      }

      span{
        color: var(--color-red-dark-1);
        font-size: 1.8rem;
        font-weight: 700;

        @include respond(xl){
          font-size: 2.2rem;
        }
      }
    }
  }

  &__footer{
    margin-top: -1rem;

    button{
      width: 100%;
      text-transform: uppercase;
      font-size: 2.4rem;
      font-weight: 700;
      background-image: linear-gradient(to left, var(--color-blue-light-1), var(--color-blue-dark-1));
      color: var(--color-red-dark-1);

      @include respond(xl){
        font-size: 2.8rem;
      }
    }
  }
}