.modal-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.8);
  @include absoluteCover;
  position: fixed;
  z-index: 10000;
}

.modal-container.ng-enter{
  animation: overlayModalEnter 1s ease-in;
}

.modal{
  position: relative;
  box-shadow: var(--shadow-modal-default);
  background-color: #FAFAFA;
}

.modal-container.ng-enter .modal{
  animation: scaleModalEnter 1s ease-in;
}