.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  @include absoluteCover;
  position: fixed;
  z-index: 10000;
}

.modal-container.ng-hide {
  background-color: rgba( 0, 0, 0, 0 );
}

.modal-container.ng-hide-remove.ng-hide-remove-active {
  transition: 1s ease-out all ;
}

.modal-container.ng-hide-add.ng-hide-add-active{
  transition: 1s ease-out all ;
}

.modal {
  box-shadow: var(--shadow-modal-default);
  background-color: #FAFAFA;
}

.modal.ng-enter{
  animation: scaleOutside 1s ease-in;
}

.modal.ng-leave{
  animation: scaleInside 1s ease-in;
}