.progress-btn-toolbar{
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-grey-light-1);
  border: 1px solid var(--color-grey-light-2);
  margin-bottom: 2rem;
  padding: 2rem 1rem;
  box-shadow: var(--shadow-light);
  transition: box-shadow .5s;

  @include respond(xl){
    padding: 2rem;
  }

  &:hover{
    box-shadow: var(--shadow-dark);
  }

  &__button{
    margin-left: auto;
    margin-right: auto;
    flex: 0 0 8%;
    height: 3.5rem;
    font-size: 2rem;
    padding: 0;

    @include respond(xl){
      font-size: 3rem;
      height: 4rem;
    }

    @include respond(lg){
      font-size: 2.5rem;
    }

    @include respond(sm){
      flex: 0 0 17%;
      font-size: 2.5rem;

      &:nth-child(-n+5){
        margin-bottom: 3.5rem;
      }
    }

    &--answered::before, &--unanswered::before, &--correct::before, &--incorrect::before{
      background-position: center;
      background-repeat: no-repeat;
      background-origin: content-box;
      background-size: 80%;

      @include respond(xl){
        background-size: 50%;
      }

      @include respond(sm){
        background-size: 60%;
      }

      @include respond(xs){
        background-size: 80%;
      }
    }

    &--answered::before{
      background-image: url("../SVG/edit.svg");
      background-color: var(--color-blue-light-1);
    }

    &--answered:hover::before, &--answered.progress-btn-toolbar__button--active::before{
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
                  0 -1px 0 #2266dd,
                  0 -2px 0 -0.5px #2266dd,
                  0 -3px 0 -1px #2266dd,
                  0 -4px 0 -1.5px #2266dd,
                  0 -5px 0 -2.5px #2266dd,
                  0 -7px 0.2px -4px #2266dd;
    }

    &--unanswered::before{
      background-image: url("../SVG/help.svg");
      background-color: var(--color-orange-light-1);
    }

    &--unanswered:hover::before, &--unanswered.progress-btn-toolbar__button--active::before{
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
                  0 -1px 0 #cc8800,
                  0 -2px 0 -0.5px #cc8800,
                  0 -3px 0 -1px #cc8800,
                  0 -4px 0 -1.5px #cc8800,
                  0 -5px 0 -2.5px #cc8800,
                  0 -7px 0.2px -4px #cc8800;
    }

    &--correct::before{
      background-image: url("../SVG/calendar-check-o.svg");
      background-color: var(--color-green-light-1);
    }

    &--correct:hover::before, &--correct.progress-btn-toolbar__button--active::before{
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
                  0 -1px 0 #118833,
                  0 -2px 0 -0.5px #118833,
                  0 -3px 0 -1px #118833,
                  0 -4px 0 -1.5px #118833,
                  0 -5px 0 -2.5px #118833,
                  0 -7px 0.2px -4px #118833;
    }

    &--incorrect::before{
        background-image: url("../SVG/calendar-times-o.svg");
        background-color: var(--color-red-dark-1);
    }

    &--incorrect:hover::before, &--incorrect.progress-btn-toolbar__button--active::before{
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
                  0 -1px 0 #cc2211,
                  0 -2px 0 -0.5px #cc2211,
                  0 -3px 0 -1px #cc2211,
                  0 -4px 0 -1.5px #cc2211,
                  0 -5px 0 -2.5px #cc2211,
                  0 -7px 0.2px -4px #cc2211;
    }

    &--active{
      z-index: 1000;
      border-radius: .25rem .25rem 0 0;
      box-shadow: var( --shadow-btn-accordion-inner);

      &::before{
        border-radius: .25rem .25rem 0 0;
        transform: rotateX(-120deg);
        color: transparent;
      }
    }
  }
}