.progress-ui-bar{
  &__hint-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__hint-text{
    margin-bottom: .5rem;
    text-transform: uppercase;
    font-size: 2rem;

    @include respond(sm){
      font-size: 1.3rem;
      margin-bottom: 0;
    }
  }

  &__hint-icon{
   height: 3rem;
   width: 12rem;

    @include respond(sm){
      height: 2.5rem;
      width: 10rem;
    }
  }

  &__hint{
    max-width: 50vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    padding: .5rem;

    &--answered{
      color: var(--color-orange-light-1);
      background-color: var(--color-blue-light-1);
    }

    &--unanswered{
      color: var(--color-blue-light-1);
      background-color: var(--color-orange-light-1);
    }

    &--correct{
      color: var(--color-red-dark-1);
      background-color: var(--color-green-light-1);
    }

    &--incorrect{
      color: var(--color-green-light-1);
      background-color: var(--color-red-dark-1);
    }
  }

  &__container{
    border: 1px solid var(--color-grey-light-2);
    height: 3rem;

    @include respond(sm){
      height: 2rem;
    }
  }

  &__outer{
    display: inline-block;
    height: 100%;
    width: 100%;

    &--unanswered{
      background-size: var(--pb-background-size);
      background-image:
              linear-gradient(45deg,
                      transparent 33%, rgba(0, 0, 0, .15) 33%,
                      rgba(0,0, 0, .15) 66%, transparent 66%),
              linear-gradient(to top,
                      rgba(255, 255, 255, .25),
                      rgba(0, 0, 0, .25)),
              linear-gradient(to left, #ffb900, #ffb900);
    }

    &--incorrect{
      background-size: var(--pb-background-size);
      background-image:
              linear-gradient(45deg,
                      transparent 33%, rgba(0, 0, 0, .15) 33%,
                      rgba(0,0, 0, .15) 66%, transparent 66%),
              linear-gradient(to top,
                      rgba(255, 255, 255, .25),
                      rgba(0, 0, 0, .25)),
              linear-gradient(to left, #BA265D, #BA265D);
    }
  }

  &__inner{
    display: inline-block;
    height: 100%;
    width: 0%;
    transition: width 2s ease;

    &--answered{
      background-size: var(--pb-background-size);
      background-image:
              linear-gradient(-45deg,
                      transparent 33%, rgba(0, 0, 0, .15) 33%,
                      rgba(0,0, 0, .15) 66%, transparent 66%),
              linear-gradient(to top,
                      rgba(255, 255, 255, .25),
                      rgba(0, 0, 0, .25)),
              linear-gradient(to left, #2998ff, #2998ff);
    }

    &--correct{
      background-size: var(--pb-background-size);
      background-image:
              linear-gradient(-45deg,
                      transparent 33%, rgba(0, 0, 0, .15) 33%,
                      rgba(0,0, 0, .15) 66%, transparent 66%),
              linear-gradient(to top,
                      rgba(255, 255, 255, .25),
                      rgba(0, 0, 0, .25)),
              linear-gradient(to left, #7ed56f, #7ed56f);
    }
  }
}