@mixin clearfix {
  &::after{
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absoluteCover{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin svgPseudoElements{
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: 80%;
}