:root{

  //COLORS

  --color-green-light-1: #7ed56f;
  --color-green-dark-1: #28b485;

  --color-orange-light-1: #ffb900;
  --color-orange-dark-1: #ff7730;

  --color-blue-light-1: #2998ff;
  --color-blue-dark-1: #5643fa;

  --color-red-light-1: #FF1493;
  --color-red-dark-1: #BA265D;

  --color-grey-light-1: #EBEDDE;
  --color-grey-light-2: #d6d4d4;

  --color-white: #fff;
  --color-black: #000;

  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.05);

  // GRID

  --gutter-horizontal: 2rem;

  --gutter-vertical: 2rem;

  // HEADER

  --header-height: 4rem;
}