:root{

  //COLORS

  --color-green-light-1: #7ed56f;
  --color-green-dark-1: #28b485;

  --color-orange-light-1: #ffb900;
  --color-orange-dark-1: #ff7730;

  --color-blue-light-1: #2998ff;
  --color-blue-dark-1: #5643fa;

  --color-red-light-1: #FF1493;
  --color-red-dark-1: #BA265D;

  --color-grey-light-1: #EBEDDE;
  --color-grey-light-2: #d6d4d4;
  --color-grey-light-3: #bcb7b7;

  --color-white: #fff;
  --color-black: #000;

  // SHADOWS

  --shadow-dark: -.6rem 1rem 2rem rgba(0,0,0,.6);
  --shadow-light: -.3rem .5rem 2rem rgba(0,0,0,.3);

  --shadow-header: 0 .8rem 1.6rem rgba(0,0,0,.6);
  --shadow-footer: 0 -.5rem 1rem rgba(0,0,0,.6);

  --shadow-facts-search: 0 0 1rem 1rem rgba(0,0,0,.6);
  --shadow-facts-carousel: 0 0 2.5rem rgba(0,0,0,1);

  --shadow-modal-light: 0 0 0 rgba(0,0,0,.75);
  --shadow-modal-default: -1.5rem 1.5rem 1.5rem rgba(0,0,0,.75);
  --shadow-modal-dark: -3rem 3rem 3rem rgba(0,0,0,.75);

  --text-shadow-question: -0.3rem 0.3rem .4rem var(--color-grey-light-3);

  --shadow-btn-outer: 0 0 2rem rgba(0,0,0,.6);
  --shadow-btn-inner: inset 0 0 .5rem rgba(0,0,0,.8);

  --shadow-btn-accordion-inner: inset 0 0 0.366667rem rgba(0, 0, 0, .5), 0 2.75rem 1.75rem .25rem rgba(0, 0, 0, .5);

  // GRID

  --gutter-horizontal: 2rem;

  --gutter-vertical: 2rem;

  // HEADER

  --header-height: 4rem;

  // PROGRESS-UI-BAR

  --pb-background-size: 5rem 100%, 100% 100%, 100% 100%;
}